<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiyangniu.admin.mapper.UmsAdminRoleRelationMapper">

    <select id="getRoleList" resultMap="com.aiyangniu.admin.mapper.UmsRoleMapper.BaseResultMap">
        SELECT r.* FROM ums_admin_role_relation ar
        LEFT JOIN ums_role r ON ar.role_id = r.id
        WHERE ar.admin_id = #{adminId}
    </select>

    <!--批量新增回写主键支持：useGeneratedKeys参数只针对insert语句生效，当设置为true时，表示若是插入的表自增主键，则容许JDBC支持自动生成主键，并可将自动生成的主键返回-->
    <insert id="insertList" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO ums_admin_role_relation (admin_id, role_id) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.adminId, jdbcType=BIGINT},
            #{item.roleId, jdbcType=BIGINT})
        </foreach>
    </insert>
</mapper>
